@font-face {
    font-family: 'OpenSans-CondLight';
    src: url(../fonts/OpenSans-CondLight.ttf);
    format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 0;
    margin: 0 0;
}

p {
    padding: 0 0;
    margin: 0 0;
}

ul {
    padding: 0 0;
    margin: 0 0;
}

.header {
    background: #222;
    position: relative;
    z-index: 999
}

.container {
    position: relative;
    z-index: 1
}

body {
    padding: 0 0;
    margin: 0 0;
    font-family: 'Open Sans', sans-serif, Arial;
    color: #333;
}


body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none
}

.header-top {
    width: 30%;
    float: left;
}

.logo {
    padding: 15px 0px;
    display: inline-block;
    margin-right: 50px;
}

.logo img {
    height: 70px;
    max-width: 100%;
    margin: 5px 0;
}

.header-right {
    width: 70%;
    float: left;
}

.phone {
    margin-top: 20px;
    width: 100%;
    text-align: right;
}

.phone h5 {
    font-size: 25px;
    vertical-align: top;
    line-height: 1;
    color: #fff;
    float: right;
    padding-bottom: 0;
}

.phone h5 a {
    color: #fff;
    margin-left: 12px;
    display: inline-block;
    margin-bottom: 7px;
}

.phone h5 a span {
    margin-right: 4px;
}

.clear {
    clear: both;
    height: 0px !important
}

.dv-menu {
    text-align: right;
    margin-bottom: 1px;
    margin-top: 20px;
}

.dv-menu a {
    padding: 12px 10px !important;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.dv-menu li:hover>a,
.dv-menu li.active>a {
    background: #0099ff;
}

.menu_desktop {
    display: block
}


#menu ul ul {
    position: absolute;
    top: 100px;
    left: 0px;
    width: auto;
    min-width: 100%;
    border-top: solid 3px #000;
    border-bottom: solid 3px #000;
    padding: 10px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 180px;
    z-index: 9999
}

#menu ul li {
    position: relative
}

#menu ul ul li {
    float: none;
    width: 100%;
    margin: 0;
    background: none
}

#menu ul ul li {
    float: left;
    position: relative;
    z-index: 10;
    list-style: none;
    margin-right: 0px;
    padding-right: 2px
}

#menu ul ul li a {
    background: #fff;
    white-space: nowrap;
    padding: 9px 10px !important;
    color: #666;
    font-weight: normal;
    font-size: 14px;
    text-transform: none;
    text-align: left;
    border-bottom: dotted #ccc 1px;
    display: block
}

#menu ul ul li:hover {
    z-index: 9999
}

#menu ul ul li:hover>a {
    background: #1E7BE2;
    color: #fff
}

#menu ul ul li:hover>ul {
    opacity: 1 !important;
    z-index: 999;
    top: 0px
}

#menu ul li:hover ul {
    top: 44px;
    visibility: visible;
    opacity: 1
}

#menu ul ul ul {
    opacity: 0 !important;
    z-index: -1;
    left: 100%;
    top: 30px
}

.navbar-nav {
    float: none;
    margin: 0
}

.navbar-nav>li {
    float: none;
    display: inline-block
}

.first-section-1 {
    padding: 50px 0;
    background: #000;
    background-image: url(https://d310p4tz9tc9pz.cloudfront.net/assets/main/home_background-040f7a950d932858e91f53f04c82d910.jpg);
}

.first-section-2 {
    padding: 50px 0;
    background: #000;
    background-image: url(https://d310p4tz9tc9pz.cloudfront.net/assets/bg/bg-services-c8f01f74070814ac82d81431b4594da4.jpg);
}

.first-section-3 {
    background: #000;
    background-image: url(https://d310p4tz9tc9pz.cloudfront.net/assets/main/home_background-040f7a950d932858e91f53f04c82d910.jpg);
}

.first-section .btn-orange-fill {
    padding: 22px 0;
    width: 100%;
    margin-top: 60px;
    font-size: 18px;
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px
}

.text-center {
    text-align: center;
}

.text-white {
    color: #fff !important;
}

.header-text {
    font-size: 30px;
    margin: 0 0 15px 0;
    font-weight: 600;
}

.col-centered {
    float: none !important;
    margin: 0 auto;
}

.btn-orange-fill {
    display: inline-block;
    cursor: pointer;
    padding: 14px 0;
    border-radius: 40px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    background: #1E7BE2;
    color: #fff;
    background-size: 200%;
    background-position: 50%;
    -webkit-transition: background-color, 0.3s;
    -moz-transition: background-color, 0.3s;
    transition: background-color, 0.3s
}

.second-section {
    padding: 70px 0;
    background-color: #FAFBFC;
}

.second-section .btn-more {
    margin-top: 20px;
    display: inline-block;
    transition-duration: 0.3s
}

.second-section .btn-more:hover {
    color: #186FCE
}

.second-section .btn-more:hover i {
    border-color: #186FCE
}

.background-gray {
    background-color: #FAFBFC;
}

.second-section {
    padding: 70px 0;
    background-color: #FAFBFC;
}

.btn-more {
    color: #1E7BE2;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600
}

.btn-more:hover .right-arrow {
    border-color: #186FCE
}

.btn-more .right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border: solid #1E7BE2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 1px;
    transition-duration: 0.3s
}

.text-dark-gray {
    color: #4A5155 !important;
}

.text-gray {
    color: #6d7579;
}

.feature {
    text-align: left;
    padding: 50px 0 30px;
    background-color: #fff;
}

.feature h3 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    color: #000;
    font-family: 'OpenSans-CondLight';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}

.feature h3 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    color: #000;
    font-family: 'OpenSans-CondLight';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}

.feature-grid h4 {
    font-size: 1.5em;
    color: #fff;
    text-transform: capitalize;
    margin: 0.8em 0 .5em
}

.dv-product {
    border: 1px solid #dadada;
    padding: 8px;
    margin-bottom: 25px;
    background: #f7f7f7
}

.dv-product:hover {
    box-shadow: 0 0 10px #ccc
}

.dv-product img {
    width: 100%
}

.dv-product h4 {
    text-align: left;
    margin: 15px 0 5px;
    height: 44px;
    overflow: hidden
}

.dv-product h4 a {
    font-size: 15px;
    line-height: 22px;
    color: #333;
    font-weight: 600
}

.dv-product h4 a:hover {
    color: #1E7BE2;
}

.section-padding {
    padding: 35px 0;
}

.services-section .btn-gray-stroke {
    margin-top: 40px;
}

.services-section .shadow-box-fill {
    padding: 15px 0 32px 38px;
}

.text-space {
    padding-bottom: 40px;
}

.shadow-box-fill {
    display: block;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin-bottom: 10px;
    z-index: 99;
    border: 1px solid #e7ebeb;
}

.shadow-box-fill:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.jobs-list li {
    padding-top: 20px;
    font-size: 15px;
    text-decoration: none;
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #6d7579;
}

.jobs-list li:hover {
    color: #1E7BB2;
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.btn-gray-stroke {
    display: inline-block;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 40px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    color: #4A5155;
    letter-spacing: 1px
}

.btn-gray-stroke:hover {
    background-color: #FAFBFC;
    color: #218be7;
}


.section-makes .image-space {
    align-items: center;
    width: 100%;
    height: 100px;
    vertical-align: middle;
    margin-top: 30px
}

.center-vertical {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.brands {
    width: 120px;
    height: 100px;
}

.btn-gray-stroke-small {
    display: inline-block;
    cursor: pointer;
    padding: 14px 0;
    border-radius: 40px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 4px 0px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    font-size: 13px;
    color: #4A5155;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    letter-spacing: 1px
}

.btn-gray-stroke-small:hover {
    border: 1px solid #1E7BE2;
    background-color: #1E7BE2;
    color: #fff
}

.row-centered {
    text-align: center
}

.background-dark-blue {
    background-color: #363946
}

.question-contact-info {
    margin-top: 20px;
    margin-bottom: 20px
}

.spaceb-15 {
    margin-bottom: 15px
}

.btn-gray-stroke--ondark {
    color: #fff
}

.btn-gray-stroke--ondark:hover {
    color: #363946
}

.specials-section {
    padding: 40px 0 30px;
    background: #0099ff;
}

.specials-section h3 {
    color: #fff;
    text-align: left;
    text-transform: capitalize;
    font-family: 'OpenSans-CondLight';
    margin-bottom: 20px;
    font-size: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5
}

.specials {
    margin-bottom: 20px
}

. li {
    list-style: none
}

.specials ul {
    margin-top: 1em
}

.specials ul li {
    list-style-type: none;
    padding: 0.3em 0
}

.specials ul li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 1.7;
    color: #bfefed;
    list-style: none;
    padding: 6px 24px;
    background: url(../images/list-arrow.png) no-repeat 0px 10px;
    text-transform: capitalize
}

.specials ul li a:hover {
    color: #fff;
    padding: 6px 24px 6px 35px
}

.cd-form {
    width: 100%;
    margin: 0 auto;
}

.floating-labels .icon:last-child,
.floating-labels .no-icon:last-child {
    margin: 10px 0;
}

.cd-form::after {
    clear: both;
    content: "";
    display: table
}

.cd-form legend {
    color: #4A5155;
    padding-bottom: 10px;
    font-size: 2.6rem;
    border-bottom: 1px solid #FAFBFC
}

.cd-form .icon,
.cd-form .no-icon {
    position: relative
}

.cd-form h4,
.cd-form .cd-label {
    font-size: 1.4rem;
    color: #9aaec3;
    margin-bottom: 10px
}

.cd-form .cd-label {
    display: block
}

.cd-form input,
.cd-form textarea,
.cd-form select,
.cd-form label {
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    color: #4A5155
}

.cd-form select.showing-prompt {
    color: #9aaec3
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"],
.cd-form input[type="number"],
.cd-form input[type="tel"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"],
.cd-form input[type="number"],
.cd-form input[type="tel"],
.cd-form textarea,
.cd-form select {
    padding: 12px;
    border: 1px solid #dae1e9;
    background-color: #fff;
    border-radius: .25em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08)
}

.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form input[type="password"]:focus,
.cd-form input[type="number"]:focus,
.cd-form input[type="tel"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
    outline: none;
    border-color: #1E7BE2;
    box-shadow: 0 0 5px rgba(30, 123, 226, 0.2)
}

.cd-form input[type=number]::-webkit-inner-spin-button,
.cd-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.cd-form input[type=number] {
    -moz-appearance: textfield
}

.cd-form .cd-select {
    background-color: #fff;
    position: relative
}

.cd-form .cd-select::after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("/assets/icons/cd-icon-arrow.svg") no-repeat center center;
    pointer-events: none
}

.cd-form .cd-select.with-error-message::after {
    top: 24px
}

.cd-form .cd-select-reset {
    margin: 0 !important;
    background-color: transparent
}

.cd-form .cd-select-label,
.cd-form .cd-input-label {
    font-size: 12px;
    font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px solid;
    color: #6d7579
}

.cd-form select {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer
}

.cd-form select::-ms-expand {
    display: none
}

.cd-form .cd-form-list {
    padding: 0;
    margin-top: 16px
}

.cd-form .cd-form-list::after {
    clear: both;
    content: "";
    display: table
}

.cd-form .cd-form-list li {
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 16px 16px 0;
    float: left
}

.cd-form .cd-form-list--clear {
    margin: 0;
    padding: 0
}

.cd-form .cd-form-list--clear::after {
    clear: both;
    content: "";
    display: table
}

.cd-form .cd-form-list--clear li {
    font-size: 14px;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    float: left
}

.cd-form .cd-form-list--clear li label {
    color: #6d7579
}

.cd-form input[type=radio],
.cd-form input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2
}

.cd-form input[type="radio"]+label,
.cd-form input[type="checkbox"]+label {
    padding-left: 24px
}

.cd-form input[type="radio"]+label::before,
.cd-form input[type="radio"]+label::after,
.cd-form input[type="checkbox"]+label::before,
.cd-form input[type="checkbox"]+label::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
    width: 16px;
    height: 16px
}

.cd-form input[type="radio"]+label::before,
.cd-form input[type="checkbox"]+label::before {
    border: 1px solid #dae1e9;
    background: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08)
}

.cd-form input[type="radio"]+label::before,
.cd-form input[type="radio"]+label::after {
    border-radius: 50%
}

.cd-form input[type="checkbox"]+label::before,
.cd-form input[type="checkbox"]+label::after {
    border-radius: .25em
}

.cd-form input[type="radio"]+label::after,
.cd-form input[type="checkbox"]+label::after {
    background-color: #1E7BE2;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgba(30, 123, 226, 0.4);
    display: none
}

.cd-form input[type="radio"]+label::after {
    background-image: url("/assets/icons/cd-icon-radio.svg")
}

.cd-form input[type="checkbox"]+label::after {
    background-image: url("/assets/icons/cd-icon-check.svg")
}

.cd-form input[type="radio"]:focus+label::before,
.cd-form input[type="checkbox"]:focus+label::before {
    box-shadow: 0 0 5px rgba(30, 123, 226, 0.6)
}

.cd-form input[type="radio"]:checked+label::after,
.cd-form input[type="checkbox"]:checked+label::after {
    display: block
}

.cd-form input[type="radio"]:checked+label::before,
.cd-form input[type="radio"]:checked+label::after,
.cd-form input[type="checkbox"]:checked+label::before,
.cd-form input[type="checkbox"]:checked+label::after {
    -webkit-animation: cd-bounce 0.3s;
    -moz-animation: cd-bounce 0.3s;
    animation: cd-bounce 0.3s
}

.cd-form textarea {
    min-height: 200px;
    resize: vertical;
    overflow: auto
}

.cd-form .small-textarea {
    min-height: 60px
}

.cd-form .medium-textarea {
    min-height: 120px
}

.cd-form .large-textarea {
    min-height: 200px
}

.cd-form input[type="submit"] {
    border: none;
    background: #1E7BE2;
    border-radius: .25em;
    padding: 16px 20px;
    color: #fff;
    float: right;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none
}

.no-touch .cd-form input[type="submit"]:hover {
    background: #3588e5
}

.cd-form input[type="submit"]:focus {
    outline: none;
    background: #4A5155
}

.cd-form input[type="submit"]:active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9)
}

.cd-form .error-message p {
    background: #e94b35;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: .25em;
    padding: 16px
}

.cd-form .error {
    border-color: #e94b35 !important
}

.section-small-padding {
    padding: 40px 0;
}

.general-list ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px
}

.general-list ul li a {
    display: inline-block;
    padding-top: 10px;
    color: #6d7579
}

.general-list ul li a:after {
    display: inline-block;
    content: url(//d310p4tz9tc9pz.cloudfront.net/assets/icons/icon-chevron-circle-right-gray-0ef798f4b28bf77c789e2160f421d779.svg);
    margin-left: 6px;
    vertical-align: sub
}

.general-list ul li a:hover {
    color: #1E7BE2
}

#back-top {
    position: fixed;
    bottom: 76px;
    right: 25px;
    z-index: 9999
}

#back-top a {
    width: 36px;
    display: block;
    font: -webkit-control;
    text-transform: uppercase;
    text-decoration: none;
    color: #444c4e;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    height: 36px;
    line-height: 36px;
    text-align: center
}

#back-top a:hover {
    color: #1d1d1d
}

#back-top span {
    width: 36px;
    height: 36px;
    display: block;
    margin-bottom: 5px;
    background-size: 15px 15px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 1;
    line-height: 36px;
    background: #fff;
    color: #333;
    font-size: 12px;
    font-weight: 600
}

#back-top span:hover {
    color: #fff;
    background: #1E7BE2
}

.box-form {
    margin-left: 250px;
    margin-right: 250px;
}

.box-form:hover {
    box-shadow: 0 0 10px #ccc;
}

#appointment {
    margin: 0 auto;
    width: 500px;
  }
  #appointment table {
    margin-bottom: 10px;
  }
  #appointment p {
    margin: 0;
    padding: 0;
  }

  main#appointment th {
      margin-bottom: 10px;
  }
   
  #appointment input.timeframe {
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
  }
  main#appointment input.timeframe:hover {
    background-color: #1E7BE2;
  }
  main#appointment table {
    text-align: left;
  }

  label {
    padding: 12px 12px 5px 0;
    display: inline-block;
}

main#repair-form {
    padding-left: 250px;
}

main#repair-status table {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    width: 66.6%;
  }
  main#repair-status table th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
  main#repair-status table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

  table#appointment-status {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    width: 66.6%
  }
  table#appointment-status th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }
  table#appointment-status td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

  .ap-status {
      padding: 50px 10px 50px 10px;
  }
