/* DEFAULT */
@font-face {
  font-family: 'OpenSans-CondLight';
  src: url(../fonts/OpenSans-CondLight.ttf);
  format('truetype');
}

\ body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

body a:hover {
  text-decoration: none
}

input[type="button"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.header-top {
  width: 30%;
  float: left;
}

.logo {
  padding: 15px 0px;
  display: inline-block;
  margin-right: 50px;
}

.logo img {
  height: 70px;
  max-width: 100%;
  margin: 5px 0;
}

.header-right {
  width: 70%;
  float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 0;
  margin: 0 0;
}

p {
  padding: 0 0;
  margin: 0 0;
}

ul {
  padding: 0 0;
  margin: 0 0;
}

body {
  padding: 0 0;
  margin: 0 0;
  font-family: 'Open Sans', sans-serif, Arial;
  color: #333;
}

.dv-menu {
  text-align: right;
  margin-bottom: 1px;
  margin-top: 20px;
}

.dv-menu a {
  padding: 12px 10px !important;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.dv-menu li:hover>a,
.dv-menu li.active>a {
  background: #0099ff;
}

.phone {
  margin-top: 20px;
  width: 100%;
  text-align: right;
}

.phone h5 {
  font-size: 14px;
  vertical-align: top;
  line-height: 1;
  color: #fff;
  float: right;
}

.phone h5 a {
  color: #fff;
  margin-left: 12px;
  display: inline-block;
  margin-bottom: 7px;
}

.phone h5 a span {
  margin-right: 4px;
}

.navbar-default {
  border-color: none !important;
  background: none !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

.header {
  background: #222;
  position: relative;
  z-index: 999
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 25px
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
  text-align: center
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #000;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li:hover>a {
  color: #fff;
  background-color: #000;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #000;
  color: #fff;
}

.dropdown-menu>li>a {
  padding: 7px 20px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.navbar-nav {
  float: none;
  margin: 0
}

.navbar-nav>li {
  float: none;
  display: inline-block
}

.dropdown-menu {
  min-width: 141px !important;
}

.about {
  padding: 40px 0;
}

#flexiselDemo1,
#flexiselDemo2,
#flexiselDemo3 {
  display: none;
}

.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}

.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.nbs-flexisel-inner {
  overflow: hidden;
  margin-top: 0;
}

.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
}

ul#flexiselDemo1 li a {
  text-decoration: none;
  display: block;
}

.nbs-flexisel-item>a img {
  cursor: auto;
  position: relative;
  width: 100%;
  margin: 0
}

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 45px;
  height: 45px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  margin-top: 0em
}

.nbs-flexisel-nav-left {
  left: 0;
  background: url(../images/img-sprite-left-right.png) no-repeat 0px 0px
}

.nbs-flexisel-nav-right {
  right: 0px;
  background: url(../images/img-sprite-left-right.png) no-repeat -54px 0px
}

.welcome-grid1 h4 {
  font-size: 1.5em;
  color: #fff;
  text-align: left;
  text-transform: capitalize;
  margin-top: 1em
}

.welcome-grid1 .nd {
  font-size: 15px;
  padding: 15px 0 30px;
  color: #999;
  line-height: 1.8;
  text-align: left
}

.welcome-grids {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap
}

.welcome-grid1 p {
  padding-bottom: 5px
}

.welcome {
  padding: 50px 0;
  background: #000;
  background-image: url(https://d310p4tz9tc9pz.cloudfront.net/assets/main/home_background-040f7a950d932858e91f53f04c82d910.jpg);
}

.welcome .btn-orange-fill {
  padding: 22px 0;
  width: 100%;
  margin-top: 60px;
  font-size: 18px;
  font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px
}

.btn-orange-fill {
  display: inline-block;
  cursor: pointer;
  padding: 14px 0;
  border-radius: 40px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  background: #1E7BE2;
  color: #fff;
  background-size: 200%;
  background-position: 50%;
  -webkit-transition: background-color, 0.3s;
  -moz-transition: background-color, 0.3s;
  transition: background-color, 0.3s
}

.welcome h2 {
  line-height: 1.2;
  font-size: 35px;
  text-transform: capitalize;
  color: #fff;
  font-family: 'OpenSans-CondLight'
}

.welcomes-grids {
  margin-top: 5.8em
}

a.sbutton_watch {
  font-size: 14px;
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block
}

.event-grid {
  margin-bottom: 20px
}

a.button_watch:hover {
  background: #fff;
  color: #222
}

.welcome-grid1 {
  background: #222;
  padding: 20px
}

.welcome-grid {
  padding: 0
}

.welcome-grid img {
  width: 100%
}

.feature {
  text-align: left;
  padding: 50px 0 30px
}

.feature h3 {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
  color: #000;
  font-family: 'OpenSans-CondLight';
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.feature-grid:hover div.feature-icon {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease
}

.feature-grid h4 {
  font-size: 1.5em;
  color: #000;
  text-transform: capitalize;
  margin: 0.8em 0 .5em
}

.container {
  position: relative;
  z-index: 1
}

.feature-grid p {
  font-size: 1em;
  color: #999;
  line-height: 2em
}

.slider {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 3em 0 0
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left
}

.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 8px;
  width: 8px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff
}

.callbacks_here a:after {
  border: 2px solid #FFF;
  background: transparent
}

.callbacks_tabs a {
  visibility: hidden
}

.callbacks_tabs li {
  display: inline-block
}

ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom: 29px;
  z-index: 999;
  left: 46%;
  display: none
}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 73%;
  left: 15%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -45px
}

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 15%
}

.specials {
  margin-bottom: 20px
}

.specials-section {
  padding: 40px 0 30px;
  background: #0099ff;
}

.specials-section h3 {
  color: #fff;
  text-align: left;
  text-transform: capitalize;
  font-family: 'OpenSans-CondLight';
  margin-bottom: 20px;
  font-size: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5
}

.specials li {
  list-style: none
}

.specials p {
  font-size: 1em;
  line-height: 1.8em;
  color: #bfefed;
  margin-top: 1em
}

.specials ul {
  margin-top: 1em
}

.specials ul li {
  list-style-type: none;
  padding: 0.3em 0
}

.specials ul li a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  color: #bfefed;
  list-style: none;
  padding: 6px 24px;
  background: url(../images/list-arrow.png) no-repeat 0px 10px;
  text-transform: capitalize
}

.specials ul li a:hover {
  color: #fff;
  padding: 6px 24px 6px 35px
}

.footer-section {
  padding: 27px 0;
  text-align: center
}

.footer-top p {
  font-size: 14px;
  color: #1B1B1B;
  font-weight: 400
}

.footer-top a {
  color: #1B1B1B;
  font-weight: 400;
  text-transform: capitalize
}

.footer-top a:hover {
  color: #dc0000
}

.ourteam {
  padding: 5em 0;
  text-align: center;
  background-color: #dc0000
}

.ourteam h3 {
  font-size: 3.5em;
  text-transform: capitalize;
  color: #fff;
  font-family: 'OpenSans-CondLight'
}

.team-grid h4 {
  font-size: 1.5em;
  color: #fff;
  text-transform: capitalize;
  margin: 0.5em 0 0.3em
}

.team-grid p {
  font-size: 1em;
  color: #bfefed;
  line-height: 2em
}

.team-grids {
  margin-top: 3em
}

.advantages {
  text-align: center;
  padding: 5em 0
}

.left-grid {
  float: left;
  width: 21%;
  margin-right: 2%
}

.right-grid {
  float: left;
  width: 77%
}

.left-grid p {
  background-color: #eee;
  color: #dc0000;
  background: #ECECEC;
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.6em
}

.advantages h3 {
  font-size: 3.5em;
  text-transform: capitalize;
  color: #dc0000;
  font-family: 'OpenSans-CondLight'
}

.advantages-grids {
  margin-top: 3em
}

.right-grid h4 {
  font-size: 1.5em;
  color: #000;
  margin: 0em 0 0.5em
}

.right-grid p {
  font-size: 1em;
  color: #999;
  line-height: 1.8em
}

.services {
  padding: 5em 0;
  text-align: center
}

a.mask {
  text-decoration: none;
  overflow: hidden;
  display: block
}

img.zoom-img {
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms
}

img.zoom-img:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden
}

.typography {
  padding: 5em 0
}

.show-grid [class^=col-] {
  background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0
}

.show-grid [class*="col-"]:hover {
  background: #e0e0e0
}

.grid_3 {
  margin-bottom: 2em
}

.xs h3,
h3.m_1 {
  color: #000;
  font-size: 1.7em;
  font-weight: 300;
  margin-bottom: 1em
}

.grid_3 p {
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300
}

.grid_4 {
  background: none;
  margin-top: 50px
}

.label {
  font-weight: 300 !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px
}

.grid_5 {
  background: none;
  padding: 2em 0
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg {
  margin-bottom: 1em;
  color: #222
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  border-top: none !important
}

.tab-content>.active {
  display: block;
  visibility: visible
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  z-index: 0
}

.badge-primary {
  background-color: #03a9f4
}

.badge-success {
  background-color: #8bc34a
}

.badge-warning {
  background-color: #ffc107
}

.badge-danger {
  background-color: #e51c23
}

.grid_3 p {
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300
}

.bs-docs-example {
  margin: 1em 0
}

section#tables p {
  margin-top: 1em
}

.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 15px !important
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important
}

.tab-content>.active {
  display: block;
  visibility: visible
}

.label {
  font-weight: 300 !important
}

.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none
}

.nav-tabs {
  margin-bottom: 1em
}

.alert {
  font-size: 0.85em
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
  line-height: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em
}

li.list-group-item1 {
  line-height: 2.5em
}

.input-group {
  margin-bottom: 20px
}

.in-gp-tl {
  padding: 0
}

.in-gp-tb {
  padding-right: 0
}

.list-group {
  margin-bottom: 48px
}

ol {
  margin-bottom: 44px
}

h2.typoh2 {
  margin: 0 0 10px
}

.contact {
  padding: 5em 0;
  text-align: center
}

.google-map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
  margin-bottom: 2em
}

.contact-grids {
  text-align: left
}

.contact-left p {
  color: #777;
  font-size: 1em;
  line-height: 1.8em
}

.contact-left p a {
  text-decoration: none;
  color: #dc0000
}

address {
  margin: 1em 0 0
}

.contact-right h5 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 0;
  color: #222
}

.contact-right input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  font-size: 1em;
  outline: none;
  border: 1px solid #dcdee0
}

.contact-right textarea {
  width: 100%;
  padding: 10px 10px;
  font-size: 1em;
  height: 10em;
  resize: none;
  outline: none;
  border: 1px solid #dcdee0
}

.contact-right input[type="submit"] {
  width: 20%;
  font-size: 1em;
  text-transform: uppercase;
  background: #222;
  border: none;
  outline: none;
  margin-top: 0.5em;
  color: #fff;
  font-weight: 500;
  padding: 10px 0;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all
}

.contact-right input[type="submit"]:hover {
  background: #dc0000
}

.dv-product {
  border: 1px solid #dadada;
  padding: 8px;
  margin-bottom: 25px;
  background: #f7f7f7
}

.dv-product:hover {
  box-shadow: 0 0 10px #ccc
}

.dv-product img {
  width: 100%
}

.dv-product h4 {
  text-align: left;
  margin: 15px 0 5px;
  height: 44px;
  overflow: hidden
}

.dv-product h4 a {
  font-size: 15px;
  line-height: 22px;
  color: #333;
  font-weight: 600
}

.dv-product h4 a:hover {
  color: #e91700
}

.dv-product .price {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  color: #e91700;
  height: 30px;
  line-height: 30px
}

.dv-product .original-price {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  text-decoration: line-through;
  color: #5f5f5f;
  height: 25px;
  line-height: 25px
}

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

html[xmlns] .slides {
  display: block
}

.no-js .slides>li:first-child {
  display: block
}

.menu_desktop {
  display: block
}

.menu_mobile {
  display: none
}

.product_detail .text_color {
  padding: 0 !important
}

.admin_box_left_1,
.admin_box_right_1 {
  background: #fff
}

.formBox li textarea {
  height: 127px !important;
  outline: none;
  min-height: auto !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.page_break {
  clear: both !important;
  text-align: center;
  margin: 15px 0px 0 20px !important;
  padding-top: 15px !important;
  padding-bottom: 10px !important;
  padding-left: 15px;
  display: block
}

#user_post_view {
  line-height: 1.7 !important
}

#user_post_view img {
  margin: 10px 0;
  max-width: 100%;
  height: auto;
  display: block
}

#user_post_view p {
  margin-bottom: 7px !important
}

.product_detail>.breadcrumb {
  display: none;
  background: #393;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  float: none;
  padding-left: 20px;
  line-height: 1;
  margin: -15px -15px 10px;
  padding: 14px 15px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.product_detail>.breadcrumb>a {
  color: #ffffff !important;
  font-size: 16px !important;
  text-transform: uppercase !important
}

.product_detail .main_col_left_cus1 {
  width: 35%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.product_detail .main_col_left_cus1 .simpleLens-lens-image,
.product_detail .main_col_left_cus1 .simpleLens-big-image-container {
  width: 100%;
  height: auto
}

.product_detail .main_col_right_cus1 {
  width: 62%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.product_detail .main_col_right_cus1 .comment_nho {
  display: none
}

.product_detail .main_col_right_cus1 .main_right_title {
  display: none;
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 18px;
  color: #f51717;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: dotted #CCCCCC 1px;
  padding-bottom: 5px
}

.product_detail .main_col_right_cus1 .list_body_left_cus1 {
  width: 25% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.product_detail .main_col_right_cus1 .list_body_right_cus1 {
  width: 75% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.product_detail .main_col_right_cus1 .line_top_1 {
  height: 15px
}

.product_detail .main_col_right_cus1 ul,
.product_detail .main_col_right_cus1 li {
  list-style: none
}

.product_detail .main_col_right_cus1 .gia_thanhtien {
  font-size: 20px;
  color: #DC0000;
  line-height: 26px;
  font-weight: bold;
  margin-top: 5px
}

.product_detail .main_col_right_cus1 .shopng-btn {
  font-size: 16px;
  margin-left: 12px;
  margin-top: 0;
  color: #fff;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  background: #DC0000;
  line-height: 1;
  outline: none
}

.product_detail .main_col_right_cus1 .shopng-btn:hover {
  color: #fff;
  background: #777777
}

.product_detail .main_col_right_cus1 .buttontext {
  background: #777;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  font-weight: normal;
  height: 38px;
  line-height: 35px;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 38px;
  cursor: pointer
}

.product_detail .product_details_cart .buttontext:hover {
  background: #DC0000
}

.product_detail .product_details_cart .intext {
  border: none;
  color: #555555;
  font-size: 14px;
  height: 38px;
  text-align: center;
  width: 73px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2)
}

.product_detail .product_details_cart .icon_body_sosanh_cus1,
.product_detail .product_details_cart .icon_body_love_cus1 {
  display: none
}

.product_detail .product_details_cart .product-bottom {
  padding-top: 0px
}

.product_detail .product_details_cart .numbers-row {
  float: left
}

.product_detail .main_content_body_cus1 {
  line-height: 1.7
}

.product_detail .main_content_body_cus1 img {
  max-width: 100%;
  height: auto;
  margin: 10px 0
}

.product_detail .main_content_body_cus1 p {
  margin-bottom: 7px
}

.breadcrumb.breadcrumb1 {
  color: #DC0000;
  font-size: 18px;
  margin-bottom: 15px !important;
  text-transform: uppercase;
  font-weight: 400;
  background: none;
  padding: 0 0 7px;
  border-bottom: 1px dashed #ccc;
  border-radius: 0
}

.detail_cart .cart_title_cus1,
.detail_buy .buy_title_cus1 {
  display: none;
  background: #393;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  float: none;
  padding-left: 20px;
  line-height: 1;
  margin: -15px -15px 10px;
  padding: 14px 15px 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.detail_cart .table_boder_cus1 td,
.detail_buy table.proTop table table td {
  font-family: arial;
  font-size: 14px;
  border: 1px solid #fff;
  background: #f1f1f1;
  color: #333;
  padding: 10px
}

.detail_cart .table_boder_cus1 td strong,
.detail_cart .table_boder_cus1 td b,
.detail_buy table td strong,
.detail_cart table td b {
  font-weight: normal
}

.detail_cart .table_boder_cus1 td a,
.detail_buy table.proTop table table td a {
  color: #333
}

.detail_cart .table_boder_cus1 td a:hover,
.detail_buy table.proTop table table td a:hover {
  color: #f00
}

.detail_buy table {
  width: 100% !important
}

.detail_cart .table_boder_cus1 tr.shoppingcart td,
.detail_buy table.proTop table tr.shoppingcart td {
  background: #999;
  text-align: center;
  color: #fff !important;
  padding: 7px 5px !important;
  text-align: center !important
}

.detail_cart .submitbutton,
.detail_buy .submitbutton {
  font-size: 14px;
  padding: 11px 20px;
  font-weight: normal;
  color: #fff;
  width: auto !important;
  border: none;
  margin-top: -15px;
  transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease 0s;
  background: #DC0000;
  line-height: 1
}

.detail_cart .submitbutton:hover,
.detail_buy .submitbutton:hover {
  color: #fff;
  background: #777777
}

.detail_buy input[type="text"] {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 8px
}

.detail_buy input[type="radio"] {
  margin-right: 5px
}

.detail_buy .submitbutton {
  margin-top: 10px
}

.sp_main_idclass {
  position: relative
}

.sp_main_idclass::before {
  content: "";
  clear: both
}

.sp_main_idclass::after {
  content: "";
  clear: both
}

.a_home_mobie {
  display: none;
  position: absolute;
  margin: 8px 10px;
  color: #fff;
  text-transform: uppercase;
  width: 36px;
  height: 34px;
  background: #b92f40 url("../menu_mb/icon-home.png") center center no-repeat;
  right: 0
}

.banner {
  padding: 0px 0 0 !important;
  border: none !important;
  overflow: hidden
}

@media only screen and (max-width:991px) {

  .contact .right input,
  .contact .left input,
  .contact .right textarea {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

  .menu_desktop {
    display: none
  }

  .a_home_mobie,
  .menu_mobile {
    display: block
  }
}

@media only screen and (max-width:767px) {
  .product_detail .main_col_left_cus1 {
    width: 100%
  }

  .product_detail .main_col_right_cus1 {
    width: 100%
  }

  .product_detail .main_col_right_cus1 .list_body_left_cus1 {
    width: 40% !important
  }

  .product_detail .main_col_right_cus1 .list_body_right_cus1 {
    width: 60% !important
  }

  .social_network_right::before {
    content: "";
    clear: both
  }

  .social_network_right {
    width: 100%;
    margin-top: 15px;
    text-align: right
  }

  .cart_center_cus1,
  .buy_body_cus1 {
    width: 100%;
    overflow-x: auto
  }

  .cart_center_cus1 table,
  .cart_center_cus1>form>div[align="right"] {
    min-width: 750px
  }
}

@media only screen and (max-width:479px) {

  .contact .left,
  .contact .right {
    width: 100% !important
  }

  #news-img {
    width: 100%;
    padding-right: 0;
    margin-bottom: 15px
  }

  #news-view {
    width: 100%
  }

  .product_detail .main_col_right_cus1 .list_body_left_cus1 {
    width: 100% !important
  }

  .product_detail .main_col_right_cus1 .list_body_right_cus1 {
    width: 100% !important
  }

  .product_detail .product_details_cart .product-bottom {
    padding-top: 10px;
    float: left;
    width: 100%
  }

  .product_detail .main_col_right_cus1 .shopng-btn {
    margin-left: 0
  }

  .col-min-12 {
    width: 100% !important
  }
}

.clear {
  clear: both;
  height: 0px !important
}

.del_cus1 {
  font-size: 16px !important
}

.lang_flag {
  padding: 0 !important;
  margin-right: 0 !important;
  margin-left: 10px;
  float: right;
  top: 0px;
  position: relative
}

.lang_flag .lang_nn_cus1 {
  display: inline-block;
  float: left
}

.lang_flag img {
  margin: 0;
  padding: 0;
  margin-left: 6px;
  float: right;
  height: 18px;
  width: auto
}

#user_post_view img {
  width: auto !important;
  max-width: 100% !important;
  margin: 15px auto !important
}

.formBox li {
  display: block;
  position: relative;
  margin-bottom: 10px;
  float: left;
  width: 100%
}

.dv-owl-demo {
  margin-left: 0px;
  margin-right: 0px
}

.dv-owl-demo .owl-buttons {
  top: 37%;
  width: 100%
}

.dv-owl-demo:hover .owl-buttons {
  display: block
}

.dv-owl-demo .owl-buttons .owl-prev::before,
.dv-owl-demo .owl-buttons .owl-next::before {
  content: "" !important
}

.dv-owl-demo .owl-buttons img {
  width: 50px
}

.dv-owl-demo .owl-buttons .owl-prev {
  background: none;
  left: 0px;
  position: absolute
}

.dv-owl-demo .owl-buttons .owl-next {
  background: none;
  right: 15px;
  position: absolute
}

.owl-carousel-hideall .owl-pagination,
.owl-carousel-hideall .owl-buttons {
  display: none !important
}

#showText {
  line-height: 1.7
}

#showText h3 {
  margin: 0 0 10px 0;
  font-size: 18px
}

#showText p {
  margin-bottom: 7px
}

#showText img {
  width: auto;
  margin: 10px auto;
  max-width: 100%
}

.social_icon img {
  width: 25px !important
}

.dotted_top {
  width: 100%;
  text-align: right
}

.dv-hide {
  overflow: hidden
}

.contact {
  margin-top: 20px !important
}

#newsRight a {
  display: block;
  min-height: 65px;
  margin-bottom: 12px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 12px;
  text-decoration: none
}

#newsRight a:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0
}

#newsRight img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px
}

#newsRight {
  margin-top: 0px
}

#newsRight h4 {
  color: #555;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
  line-height: 1.6;
  text-align: left;
  margin: 0
}

#newsRight a:hover h4 {
  color: #b33234
}

.galry-like {
  text-align: center;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc
}

.galry-like a img {
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
  margin-bottom: 7px
}

.galry-like:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.galry-like h4 {
  font-size: 15px;
  color: #f44336;
  text-transform: capitalize;
  margin-bottom: 15px;
  line-height: 1.5;
  font-weight: 400
}

.galry-like h3 {
  font-size: 15px;
  text-decoration: line-through;
  margin-bottom: 7px;
  color: #b3b3b3
}

.galry-like h5 {
  font-size: 16px;
  font-weight: 400;
  color: #f44336
}

.marqueew {
  height: 400px;
  overflow: hidden
}

#back-top {
  position: fixed;
  bottom: 76px;
  right: 25px;
  z-index: 9999
}

#back-top a {
  width: 36px;
  display: block;
  font: -webkit-control;
  text-transform: uppercase;
  text-decoration: none;
  color: #444c4e;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  height: 36px;
  line-height: 36px;
  text-align: center
}

#back-top a:hover {
  color: #1d1d1d;
}

#back-top span {
  width: 36px;
  height: 36px;
  display: block;
  margin-bottom: 5px;
  background-size: 15px 15px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  opacity: 1;
  line-height: 36px;
  background: #fff;
  color: #333;
  font-size: 12px;
  font-weight: 600
}

#back-top span:hover {
  color: #fff;
  background: #dc0000
}

.dv-flex {
  display: flex
}

.social_network_right {
  width: 100%;
  text-align: right;
  margin-top: 15px
}

.simpleLens-container,
.simpleLens-big-image {
  width: 100%
}

.img_logo {
  max-width: 100% !important
}

@media (max-width:991px) {
  .navbar-toggle {
    margin-left: 0px;
    float: left
  }

  .navbar-toggle {
    display: block
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #DC0000
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF
  }

  ul.nav.navbar-nav.menu__list {
    padding: 10px 0
  }

  .navbar-nav {
    float: none;
    margin: 0
  }

  .navbar-header {
    float: none
  }

  .navbar-nav-2 {
    display: none !important
  }

  .navbar-collapse.collapse {
    display: none !important
  }

  .navbar-collapse.collapse.in {
    display: block !important
  }

  .navbar-nav>li {
    margin: 0 0px 0 0;
    width: 100%;
    text-align: center
  }

  .nav>li>a {
    display: inline-block
  }
}

.navbar-nav-2 {
  position: absolute;
  left: 0;
  width: 220px;
  background: #8f746c;
  padding: 10px 0;
  list-style: none;
  opacity: 0;
  transition: all .5s;
  margin-top: 55px;
  z-index: -1
}

.navbar-nav-2 li:hover>.navbar-nav-2 {
  margin-top: 0px !important
}

.navbar-nav li:hover>.navbar-nav-2 {
  opacity: 1;
  margin-top: 0;
  z-index: 99
}

.navbar-nav-2 .navbar-nav-2 {
  left: 100%;
  top: 0
}

li.menu__item:hover>.navbar-nav-2 {
  opacity: 1;
  margin-top: 0;
  z-index: 99
}

.cart_img img {
  margin: 0 10px 0 0 !important
}

.new-products-grid {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc
}

.new-products-grid-left img {
  width: 100%;
  height: auto
}

.new-products-grid-right {
  text-align: center
}

.new-products-grid-right h4 {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0;
  font-weight: 500
}

.new-products-grid-right .item_goc {
  display: inline-block;
  margin-right: 7px;
  color: #757474;
  text-decoration: line-through
}

.new-products-grid-right .item_price {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  color: #f52d2d
}

.dv_content_leftsp h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding: 8px 0
}

.dv_list_dmsp {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -10px
}

.dv_list_dmsp li a {
  display: block;
  padding: 8px 0px;
  border-top: 1px dashed #c5c5c5;
  text-transform: capitalize
}

.dv_list_dmsp li a:hover {
  background: #f1f1f1;
  padding-left: 10px;
  color: #e4411b
}

.dv_list_dmsp li:first-child>a {
  border: none
}

.dv-table {
  display: table;
  height: 100%;
  width: 100%
}

.dv-table-cell {
  display: table-cell;
  vertical-align: middle
}


@media (max-width:991px) {
  @font-face {
    font-family: 'icomoon';
    src: url('../menu_mb/fonts/icomoon.eot');
    src: url('../menu_mb/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../menu_mb/fonts/icomoon.woff') format('woff'),
      url('../menu_mb/fonts/icomoon.ttf') format('truetype'),
      url('../menu_mb/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
  }

  #dl-menu {
    clear: both;
    width: 220px;
    position: absolute;
    right: 10px
  }

  .clear {
    clear: both
  }


  #dl-menu>span {
    color: #fff;
    padding-top: 14px;
    margin-left: 1px;
    text-transform: uppercase;
    font-size: 13px
  }

  .dl-menu.dl-subview li,
  .dl-menu.dl-subview li.dl-subviewopen>a,
  .dl-menu.dl-subview li.dl-subview>a {
    display: none
  }

  .dl-menu.dl-subview li.dl-subview,
  .dl-menu.dl-subview li.dl-subview .dl-submenu,
  .dl-menu.dl-subview li.dl-subviewopen,
  .dl-menu.dl-subview li.dl-subviewopen>.dl-submenu,
  .dl-menu.dl-subview li.dl-subviewopen>.dl-submenu>li {
    display: block
  }

  .dl-menu.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s
  }

  .dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out
  }

  .dl-menu.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease
  }

  .dl-menu.dl-animate-out-4 {
    -webkit-animation: MenuAnimOut4 0.4s ease;
    animation: MenuAnimOut4 0.4s ease
  }

  .dl-menu.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 0.4s ease;
    animation: MenuAnimOut5 0.4s ease
  }

  @-webkit-keyframes MenuAnimOut1 {
    0% {}

    50% {
      -webkit-transform: translateZ(-250px) rotateY(30deg)
    }

    75% {
      -webkit-transform: translateZ(-372.5px) rotateY(15deg);
      opacity: .5
    }

    100% {
      -webkit-transform: translateZ(-500px) rotateY(0deg);
      opacity: 0
    }
  }

  @-webkit-keyframes MenuAnimOut2 {
    0% {}

    100% {
      -webkit-transform: translateX(-100%);
      opacity: 0
    }
  }

  @-webkit-keyframes MenuAnimOut3 {
    0% {}

    100% {
      -webkit-transform: translateZ(300px);
      opacity: 0
    }
  }

  @-webkit-keyframes MenuAnimOut4 {
    0% {}

    100% {
      -webkit-transform: translateZ(-300px);
      opacity: 0
    }
  }

  @-webkit-keyframes MenuAnimOut5 {
    0% {}

    100% {
      -webkit-transform: translateY(40%);
      opacity: 0
    }
  }

  @keyframes MenuAnimOut1 {
    0% {}

    50% {
      -webkit-transform: translateZ(-250px) rotateY(30deg);
      transform: translateZ(-250px) rotateY(30deg)
    }

    75% {
      -webkit-transform: translateZ(-372.5px) rotateY(15deg);
      transform: translateZ(-372.5px) rotateY(15deg);
      opacity: .5
    }

    100% {
      -webkit-transform: translateZ(-500px) rotateY(0deg);
      transform: translateZ(-500px) rotateY(0deg);
      opacity: 0
    }
  }

  @keyframes MenuAnimOut2 {
    0% {}

    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0
    }
  }

  @keyframes MenuAnimOut3 {
    0% {}

    100% {
      -webkit-transform: translateZ(300px);
      transform: translateZ(300px);
      opacity: 0
    }
  }

  @keyframes MenuAnimOut4 {
    0% {}

    100% {
      -webkit-transform: translateZ(-300px);
      transform: translateZ(-300px);
      opacity: 0
    }
  }

  @keyframes MenuAnimOut5 {
    0% {}

    100% {
      -webkit-transform: translateY(40%);
      transform: translateY(40%);
      opacity: 0
    }
  }

  .dl-menu.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s
  }

  .dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out
  }

  .dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease
  }

  .dl-menu.dl-animate-in-4 {
    -webkit-animation: MenuAnimIn4 0.4s ease;
    animation: MenuAnimIn4 0.4s ease
  }

  .dl-menu.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 0.4s ease;
    animation: MenuAnimIn5 0.4s ease
  }

  @-webkit-keyframes MenuAnimIn1 {
    0% {
      -webkit-transform: translateZ(-500px) rotateY(0deg);
      opacity: 0
    }

    20% {
      -webkit-transform: translateZ(-250px) rotateY(30deg);
      opacity: 0.5
    }

    100% {
      -webkit-transform: translateZ(0px) rotateY(0deg);
      opacity: 1
    }
  }

  @-webkit-keyframes MenuAnimIn2 {
    0% {
      -webkit-transform: translateX(-100%);
      opacity: 0
    }

    100% {
      -webkit-transform: translateX(0px);
      opacity: 1
    }
  }

  @-webkit-keyframes MenuAnimIn3 {
    0% {
      -webkit-transform: translateZ(300px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0px);
      opacity: 1
    }
  }

  @-webkit-keyframes MenuAnimIn4 {
    0% {
      -webkit-transform: translateZ(-300px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0px);
      opacity: 1
    }
  }

  @-webkit-keyframes MenuAnimIn5 {
    0% {
      -webkit-transform: translateY(40%);
      opacity: 0
    }

    100% {
      -webkit-transform: translateY(0);
      opacity: 1
    }
  }

  @keyframes MenuAnimIn1 {
    0% {
      -webkit-transform: translateZ(-500px) rotateY(0deg);
      transform: translateZ(-500px) rotateY(0deg);
      opacity: 0
    }

    20% {
      -webkit-transform: translateZ(-250px) rotateY(30deg);
      transform: translateZ(-250px) rotateY(30deg);
      opacity: 0.5
    }

    100% {
      -webkit-transform: translateZ(0px) rotateY(0deg);
      transform: translateZ(0px) rotateY(0deg);
      opacity: 1
    }
  }

  @keyframes MenuAnimIn2 {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0
    }

    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1
    }
  }

  @keyframes MenuAnimIn3 {
    0% {
      -webkit-transform: translateZ(300px);
      transform: translateZ(300px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
      opacity: 1
    }
  }

  @keyframes MenuAnimIn4 {
    0% {
      -webkit-transform: translateZ(-300px);
      transform: translateZ(-300px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
      opacity: 1
    }
  }

  @keyframes MenuAnimIn5 {
    0% {
      -webkit-transform: translateY(40%);
      transform: translateY(40%);
      opacity: 0
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
    }
  }

  @-webkit-keyframes SubMenuAnimIn1 {
    0% {
      -webkit-transform: translateX(50%);
      opacity: 0
    }

    100% {
      -webkit-transform: translateX(0px);
      opacity: 1
    }
  }

  @-webkit-keyframes SubMenuAnimIn2 {
    0% {
      -webkit-transform: translateX(100%);
      opacity: 0
    }

    100% {
      -webkit-transform: translateX(0px);
      opacity: 1
    }
  }

  @-webkit-keyframes SubMenuAnimIn3 {
    0% {
      -webkit-transform: translateZ(-300px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0px);
      opacity: 1
    }
  }

  @-webkit-keyframes SubMenuAnimIn4 {
    0% {
      -webkit-transform: translateZ(300px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0px);
      opacity: 1
    }
  }

  @-webkit-keyframes SubMenuAnimIn5 {
    0% {
      -webkit-transform: translateZ(-200px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0);
      opacity: 1
    }
  }

  @keyframes SubMenuAnimIn1 {
    0% {
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      opacity: 0
    }

    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1
    }
  }

  @keyframes SubMenuAnimIn2 {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0
    }

    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      opacity: 1
    }
  }

  @keyframes SubMenuAnimIn3 {
    0% {
      -webkit-transform: translateZ(-300px);
      transform: translateZ(-300px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
      opacity: 1
    }
  }

  @keyframes SubMenuAnimIn4 {
    0% {
      -webkit-transform: translateZ(300px);
      transform: translateZ(300px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
      opacity: 1
    }
  }

  @keyframes SubMenuAnimIn5 {
    0% {
      -webkit-transform: translateZ(-200px);
      transform: translateZ(-200px);
      opacity: 0
    }

    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1
    }
  }

  @-webkit-keyframes SubMenuAnimOut1 {
    0% {
      -webkit-transform: translateX(0%);
      opacity: 1
    }

    100% {
      -webkit-transform: translateX(50%);
      opacity: 0
    }
  }

  @-webkit-keyframes SubMenuAnimOut2 {
    0% {
      -webkit-transform: translateX(0%);
      opacity: 1
    }

    100% {
      -webkit-transform: translateX(100%);
      opacity: 0
    }
  }

  @-webkit-keyframes SubMenuAnimOut3 {
    0% {
      -webkit-transform: translateZ(0px);
      opacity: 1
    }

    100% {
      -webkit-transform: translateZ(-300px);
      opacity: 0
    }
  }

  @-webkit-keyframes SubMenuAnimOut4 {
    0% {
      -webkit-transform: translateZ(0px);
      opacity: 1
    }

    100% {
      -webkit-transform: translateZ(300px);
      opacity: 0
    }
  }

  @-webkit-keyframes SubMenuAnimOut5 {
    0% {
      -webkit-transform: translateZ(0);
      opacity: 1
    }

    100% {
      -webkit-transform: translateZ(-200px);
      opacity: 0
    }
  }

  @keyframes SubMenuAnimOut1 {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1
    }

    100% {
      -webkit-transform: translateX(50%);
      transform: translateX(50%);
      opacity: 0
    }
  }

  @keyframes SubMenuAnimOut2 {
    0% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1
    }

    100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      opacity: 0
    }
  }

  @keyframes SubMenuAnimOut3 {
    0% {
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
      opacity: 1
    }

    100% {
      -webkit-transform: translateZ(-300px);
      transform: translateZ(-300px);
      opacity: 0
    }
  }

  @keyframes SubMenuAnimOut4 {
    0% {
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
      opacity: 1
    }

    100% {
      -webkit-transform: translateZ(300px);
      transform: translateZ(300px);
      opacity: 0
    }
  }

  @keyframes SubMenuAnimOut5 {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1
    }

    100% {
      -webkit-transform: translateZ(-200px);
      transform: translateZ(-200px);
      opacity: 0
    }
  }
}

.a_home {
  color: #323232;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  padding: 11px 0px;
  display: inline-block;
  float: left;
  line-height: 1
}

#menu ul ul {
  position: absolute;
  top: 100px;
  left: 0px;
  width: auto;
  min-width: 100%;
  border-top: solid 3px #000;
  border-bottom: solid 3px #000;
  padding: 10px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 180px;
  z-index: 9999
}

#menu ul li {
  position: relative
}

#menu ul ul li {
  float: none;
  width: 100%;
  margin: 0;
  background: none
}

#menu ul ul li {
  float: left;
  position: relative;
  z-index: 10;
  list-style: none;
  margin-right: 0px;
  padding-right: 2px
}

#menu ul ul li a {
  background: #fff;
  white-space: nowrap;
  padding: 9px 10px !important;
  color: #666;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
  text-align: left;
  border-bottom: dotted #ccc 1px;
  display: block
}

#menu ul ul li:hover {
  z-index: 9999
}

#menu ul ul li:hover>a {
  background: #0099ff;
  color: #fff
}

#menu ul ul li:hover>ul {
  opacity: 1 !important;
  z-index: 999;
  top: 0px
}

#menu ul li:hover ul {
  top: 44px;
  visibility: visible;
  opacity: 1
}

#menu ul ul ul {
  opacity: 0 !important;
  z-index: -1;
  left: 100%;
  top: 30px
}

@media only screen and (max-width:1199px) {
  .dv-child-one-style .dv-child-right {
    width: 30%
  }

  .dv-child-one-style .dv-child-left {
    width: 70%
  }
}

@media only screen and (max-width:991px) {
  .dv-child-one-style .dv-child-right {
    width: 100%;
    padding-left: 0px
  }

  .dv-child-one-style .dv-child-left {
    width: 100%
  }

  .dv_content_leftsp:nth-child(2) {
    display: none
  }
}

@media only screen and (max-width:767px) {
  .dv-child-one-style .dv-child-left .cont-tintuc .one-news .news-img {
    width: 32%
  }

  .dv-child-one-style .dv-child-left .cont-tintuc .one-news .news-view {
    width: 68%
  }

  .dv-child-one-style .dv-child-left .cont-sanpham .dv-product-child {
    width: 50%
  }
}

@media only screen and (max-width:479px) {
  .dv-child-one-style .dv-child-left .cont-tintuc .one-news .news-img {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px
  }

  .dv-child-one-style .dv-child-left .cont-tintuc .one-news .news-view {
    width: 100%
  }

  .dv-child-one-style .dv-child-left .cont-sanpham .dv-product-child {
    width: 100%
  }
}

@media only screen and (max-width:1199px) {
  .event-time {
    width: 50%
  }
}

@media only screen and (max-width:991px) {
  .header-top {
    width: 40%
  }

  .header-right {
    width: 60%
  }

  .flex-control-paging li a {
    width: 15px;
    height: 15px;
    border-radius: 100%
  }

  .flex-control-nav {
    bottom: 30px
  }
}

@media only screen and (max-width:767px) {
  .header-top {
    width: 50%
  }

  .header-right {
    width: 50%
  }

  .flex-control-nav {
    bottom: 20px
  }

  .phone h5 {
    position: relative;
    top: 8px;
    width: 100%
  }
}

@media only screen and (max-width:479px) {
  .header-top {
    width: 100%;
    text-align: center
  }

  .header-right {
    width: 100%;
    text-align: center
  }

  .phone {
    margin-top: 7px;
    width: 100%;
    text-align: center
  }

  .phone h5 {
    text-align: center;
    float: none;
    display: inline-block
  }

  .header {
    padding: 0 0 49px
  }

  .event-grid h4,
  .event-grid_pic p,
  .dv-product h4,
  .service-grid h4,
  .service-grid p {
    height: auto
  }

  .flex-control-nav {
    bottom: 15px
  }
}

.text-gray {
  color: #6d7579;
}

.text-center {
  text-align: center;
}

.second-section {
  padding: 70px 0;
  background-color: #FAFBFC;
}

.services-section .shadow-box-fill {
  padding: 15px 0 32px 38px;
}

.shadow-box-fill {
  display: block;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  margin-bottom: 10px;
  z-index: 99;
  border: 1px solid #e7ebeb;
}

.shadow-box-fill:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.jobs-list li {
  padding-top: 20px;
  font-size: 15px;
  text-decoration: none;
  font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #6d7579;
}

.jobs-list li:hover {
  color: #1E7BB2;
  font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.header-text {
  font-size: 30px;
  margin: 0 0 15px 0;
  font-weight: 600;
}

.text-space {
  padding-bottom: 40px;
}

.shadow-box-fill:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1)
}

.services-section .btn-gray-stroke {
  margin-top: 40px;
}

.col-centered {
  float: none !important;
  margin: 0 auto;
}

.btn-gray-stroke {
  display: inline-block;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 40px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  color: #4A5155;
  letter-spacing: 1px
}

.btn-gray-stroke:hover {
  background-color: #FAFBFC;
  color: #218be7;
}

.section-padding {
  padding: 35px 0;
}

.background-gray {
  background-color: #FAFBFC;
}

.background-dark-blue {
  background-color: #363946;
}

.brands {
  width: 120px;
  height: 80px;
}

.text-white {
  color: #fff !important;
}

.spaceb-15 {
  margin-bottom: 15px;
}

.btn-gray-stroke--ondark {
  color: #fff;
}

.btn-gray-stroke {
  display: inline-block;
  cursor: pointer;
  padding: 14px 0;
  border-radius: 40px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  font-family: "proxima-nova", Avenir, "Helvetica-Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  color: #4A5155;
  letter-spacing: 1px
}

.btn-gray-stroke:hover {
  background-color: #FAFBFC;
  color: #218be7
}

.text-left ul a li {
  text-align: left;
}



/* CUSTOMIZE */